TICKETMASTER_API_KEY=replace_with_your_ticketmaster_api_key
OPENAGENDA_API_KEY=replace_with_your_openagenda_public_key
EVENTS_LILLE_RADIUS_KM=30
EVENTS_LILLE_COUNT=2
EVENTS_BELGIUM_COUNT=1
EVENTS_CACHE_TTL_HOURS=6
EVENTS_REFRESH_HOURS=6
EVENTS_REQUEST_SIZE=50
EVENTS_OPENAGENDA_ENABLED=1
EVENTS_OPENAGENDA_SIZE=30
EVENTS_OPENAGENDA_PRIORITY=720
EVENTS_BELGIUM_ACCESSIBLE_DISTANCE_KM=130
